@import 'config';
@import 'utilities';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: $font-body;
}
h1,h2,h3{
  font-family: $font-heading ;
}
header{
  height: 80px;
}
.header-container{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  & .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media(max-width:900px){
        position: absolute;
        top:80px;
        left: 0;
        right: 0;
        background-color: $very-dark-violet;
        background-image: url(../images/bg-pattern-mobile-nav.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        height: calc(100vh - 80px);
        padding:30px;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 3;
      }

      & .navigation-links {
          display: flex;
          justify-content: space-between;
          @media(max-width:900px){
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
          }
          & .navigation-element{
            font-size: 0.8rem;
            list-style: none;
            text-transform: uppercase;
            margin-right: 35px;
            font-weight: 700;
            @media(max-width:900px){
              padding:20px;
            }
                     
            & .link{
              text-decoration: none;
              color:$dark-grayish-violet;
                  &:hover {
                      color: $very-dark-violet;
                      @media(max-width: 900px){
                        color:#fff;
                        font-size: 1rem;
                      }
                      ;
                    }
                    @media(max-width:900px){
                      color:#fff;
                      
                    }
            }
          }
        }
        & .navigation-btn{
          @media(max-width: 900px){
            border: #fff 2px solid;
            width: 100%;
            color:#fff;
            margin-top: 20px;
          }
        }
    }
    .hide {
     @media(max-width: 900px) {
     display: none !important;
    }
          
   }
}
.hero-section{
  
  height: 750px;
  position: relative;
  overflow: hidden;
        @media(max-width:900px) {
           background-color: $dark-violet;
           height: auto;
           width: 100%;
          overflow: visible;
          }
  & .background{
    position: absolute;
    background-color: $dark-violet;
    top:0;
    bottom:100px;
    left: 0;
    right: 0;

    
  }
  &:before{
    content: '';
    position: absolute;
    top:-80px;
    right: 0;
    height: 593px;
    width: 436px;
    background-image: url('../images/bg-pattern-intro-right-desktop.svg');
    z-index: 1;
    @media(max-width:900px){
      display: none;

    }
  }

  & .info-box{
    display: flex;
    flex-direction: column;
    color:#fff;
    max-width: 530px;
    z-index: 1;
    position: relative;
              & ::before {
                  content: '';
                  position: absolute;
                  top: -70px;
                  left: 0;
                  background-color: #fff;
                  width: 150px;
                  height: 1px;
                  @media(max-width: 900px){
                    display: none;
                  }
                }
    @media(max-width:900px){
      position:relative;
      max-width: 100%;
      align-items: center;
      text-align: center;
      padding:90px 25px;
     
    }
    &::before{
      @media(max-width:900px){
        content: '';
        position: absolute;
        top:0;
        left: 0;
        background-image: url('../images/bg-pattern-intro-left-mobile.svg');
        width: 168px;
        height: 165px;

      }
    }
    &::after{
      @media(max-width:900px){
        content: '';
        position: absolute;
        bottom:-155px;
        right: 0;
        background-image: url('../images/bg-pattern-intro-right-mobile.svg');
        width: 124px;
        height: 330px;

      }
    }
    
    
      & .hero-title {
          font-size: 4rem;
          max-width:480px;
          line-height: 3.8rem;
      

        }
      & .hero-text{
        line-height: 1.5rem;
        color:$very-light-gray;
        padding: 25px 0;
      }
  }
  & .hero-img{
    position: relative;
    top:100px;
      @media(max-width:900px) {
          top:0;
          width: 100%;
          height: auto;
        }
  }

}
.hero-btn{
  width: 175px;
}
.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
    @media(max-width:900px) {
        flex-direction: column-reverse;
        padding:0;
        width: 100%;
      }
}

.about-section{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-image: url('../images/bg-pattern-intro-left-desktop.svg');
    top:-270px;
    left: 0;
    width:195px;
    height: 504px;
    @media(max-width:900px){
      display: none;
    }
  }
}
.about-container{
  padding-top: 170px;
  color:$very-dark-violet;
  @media(max-width:900px){
    text-align: center;
  
  }
}
.section-heading{
  font-size: 4rem;
  position: relative;
  margin-bottom: 100px;
  @media(max-width:900px){
    font-size: 3.8rem;
  }
  &:before{
  content: '';
  position:absolute;
  top:-70px;
  left: 0;
  width:150px;
  height: 1px;
  background-color: $grayish-blue;
  @media(max-width:900px){
    left:calc(50% - 75px)
  }
  }
}
.cards-section{
  display: flex;
  justify-content: space-between;
  @media(max-width:900px){
    flex-direction: column;
  }
  & .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media(max-width:900px){
      align-items: center;
      margin-bottom: 50px;
    }
    & .card-title{
      font-size:1.8rem ;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    & .card-body{
      color: $dark-grayish-violet;
      line-height: 1.3rem;
    }
  }
}
.find-out-box{
    background-color: $dark-violet;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:75px 85px;
    margin-top: 150px;
    margin-bottom: 150px;
    background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
    background-position: right ;
    background-repeat: no-repeat;
    @media(max-width:900px){
      flex-direction: column;
      background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
      background-position: right top;
    }
    & .find-out-title{
      font-size: 3.2rem;
      line-height: 2.9rem;
      max-width: 480px;
      color:#fff;
          @media(max-width:900px) {
              font-size: 2.6rem;
              line-height: 2.5rem;
              text-align: center;
              max-width: 100%;
              margin-bottom: 40px;
            }
    }
}
.footer{
  background-color: $very-light-gray;
  background-image: url('../images/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  background-position: top left;
  @media(max-width:900px){
    background-image: url('../images/bg-pattern-footer-mobile.svg');

  }

  & .top-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 70px;
    margin-bottom: 70px;
    border-bottom: 1px solid $grayish-blue;
    @media(max-width:900px){
      flex-direction: column;
      gap:30px;
    }
    & .social-icons{
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      
    }

  }
  & .footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    @media(max-width:900px){
      flex-direction: column;
      text-align: center;
    }
    & .footer-row{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      & .row-title{
        text-transform: uppercase;
        font-size: .87rem;
        font-weight: 700;
        color:$dark-grayish-violet;
      }
      & .footer-links{
        margin-top: 40px;
        & .footer-link{
          list-style: none;
          text-transform: uppercase;
          padding: 8px 0;
          & a{
            text-decoration: none;
            color:$very-dark-violet;
            font-weight: 700;
            font-size: .85rem;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
    
  }
}
.social-icon{
  margin-left: 15px;
  & #facebook{
    background-image: url('../images/icon-facebook.svg');
    width: 24px;
    height: 24px;
      &:hover{
        background-image: url('../images/icon-facebook-hover.svg');
      }
  }
  & #twitter{
    background-image: url('../images/icon-twitter.svg');
    width: 24px;
    height: 20px;
      &:hover{
        background-image: url('../images/icon-twitter-hover.svg');

      }
  }
  & #pinterest{
    background-image: url('../images/icon-pinterest.svg');
    width: 24px;
    height: 24px;
      &:hover{
        background-image: url('../images/icon-pinterest-hover.svg');
      }
  }
  & #instagram{
    background-image: url('../images/icon-instagram.svg');
    width: 24px;
    height: 24px;
      &:hover{
        background-image: url('../images/icon-instagram-hover.svg');
      }
  }
}

